a,
a:visited {
  color: black;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
}

.nav-list > li + li {
  margin-left: 20px;
}

header {
  position: fixed;
  left: 0;
  top: 20;
  width: 100%;
  padding: 20px;
  margin: 0px;
  background-color: snow;
  font-size: 20px;
  font-family:'GT Zirkon Trial Lt';

}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: 0 20px;
}

.gradient {
  background: linear-gradient(320deg, #ffffff, #fea5ff, #b86fff);
  background-size: 600% 600%;
  
}

.gradient:hover {
  animation: AnimationName 3s infinite ease-in-out;
}

@keyframes AnimationName {
  0%{background-position:31% 0%}
  50%{background-position:70% 100%}
  100%{background-position:31% 0%}
}