*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'GT Zirkon Trial Rg';
    src: url("fonts/GTZirkonTrial-Rg.woff2") format('woff2'),
        url("fonts/GTZirkonTrial-Rg.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'GT Zirkon Trial Lt';
    src: url("fonts/GTZirkonTrial-Lt.woff2") format('woff2'),
        url("fonts/GTZirkonTrial-Lt.woff") format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

.parent { 
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(25, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 6px;
    background-color: snow;
    outline: black;
    height: 4000px;
    width: 100vw;
    font-size: 30px;
    text-align: left;
    font-family: 'GT Zirkon Trial Rg';
}

.image {
    width: 100%;
    height: 100%;
}

.div1 { grid-area: 6 / 6 / 9 / 9; }
.div2 { grid-area: 8 / 1 / 11 / 4; }
.div3 { grid-area: 10 / 6 / 13 / 9; }
.div4 { grid-area: 12 / 1 / 15 / 4; }
.div5 { grid-area: 14 / 6 / 17 / 9; }
.div7 { grid-area: 2 / 1 / 3 / 9 ; font-size: 120px; padding: 20px;}
.div8 { grid-area: 3 / 1 / 4 / 6 ; font-size: 80px; padding: 20px;}