@font-face {
    font-family: 'GT Zirkon Trial Rg';
    src: url("assets/GTZirkonTrial-Rg.woff2") format('woff2'),
        url("assets/GTZirkonTrial-Rg.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'GT Zirkon Trial Lt';
    src: url("assets/GTZirkonTrial-Lt.woff2") format('woff2'),
        url("assets/GTZirkonTrial-Lt.woff") format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
body {
    background: seashell;
    color: black;
    max-width: 1400px;
    font-family: 'GT Zirkon Trial Lt';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    font-size: 50px;
    line-height: 1.5;
    letter-spacing: 0.3px;
    margin-left: 50px;
 }
h1 {
    margin-top: 200px;
}
button {
    border: medium none;
    background-image: none; 
    background: transparent;
    background-color: transparent;
}
.button-float {float: right;  margin-top: 40px; margin-right: 20px;}