body {
    background: rgb(227, 227, 227);
    color: black;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.3px;
    }
    #first-par {color: rgb(105, 105, 105)}
    #second-par {color:rgb(119, 34, 34)}
    .text-eggplant {color: rgb(79, 34, 58)}
    .text-red {color:rgb(119, 34, 34)}