<style>body {
    background: hsl(40, 52%, 84%)
    currentColor rgb(27, 25, 25)
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Space Mono', monospace;
    }
    #first-par {color: rgb(105, 105, 105)}
    #second-par {color:hsl(40, 54%, 44%)}
    .text-tan {color: tan;}
    .text-musturd {color:hsl(40, 54%, 44%)}
</style>